@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

html {
  --main-bg-color: rgb(54, 54, 56);
}

body {
  background-color: var(--main-bg-color);
  margin: 8px;
}

.profile-bg {
  background-image: url('../public/assets/images/profile.png')
}

a.projects-link {
  text-decoration: none;
  color: inherit;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

a.projects-link:hover {
  border-bottom: 1px solid #5A67D8;
  transition: border-bottom 0.25s ease-in;
}